In [19]:
import pandas as pd
import numpy as np

In [20]:
test_patient = r'Course-094295_hw1/data/test/patient_9998.psv'
patient = pd.read_csv(test_patient, sep='|')

In [21]:
np.array_split(patient, 5)[1]

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,...,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel
6,73.0,97.0,NaN,122.0,84.0,67.0,21.0,NaN,NaN,NaN,...,NaN,NaN,NaN,78,0,1,0,-1.89,7,0
7,80.0,99.0,NaN,125.0,87.0,75.0,23.0,NaN,NaN,NaN,...,NaN,NaN,NaN,78,0,1,0,-1.89,8,0
8,75.0,96.0,NaN,114.0,79.0,64.0,20.0,NaN,NaN,NaN,...,NaN,NaN,NaN,78,0,1,0,-1.89,9,0
9,73.0,94.0,36.2,114.0,79.0,70.0,20.0,NaN,NaN,NaN,...,NaN,NaN,NaN,78,0,1,0,-1.89,10,0
10,73.0,94.0,NaN,125.0,71.0,50.0,18.0,NaN,NaN,NaN,...,NaN,NaN,NaN,78,0,1,0,-1.89,11,0
11,72.0,94.0,NaN,109.0,66.0,50.0,18.0,NaN,NaN,NaN,...,NaN,NaN,NaN,78,0,1,0,-1.89,12,0

In [36]:
weights = np.array([2**(k-10) for k in range(10)])
preds = np.array([0, 0, 0, 0, 0, 1, 1, 1, 1, 1])
np.sum(weights * preds)

0.0302734375

In [ ]:
def prediction_rule(preds):
    weights = np.array([2**(k-len(preds)) for k in range(len(preds))])
    return 1 if np.sum(weights * preds) > 0.5 else 0

def predict(data_sample, model):
    window = 10
    preds = []
    for idx in range(len(data_sample) - window):
        preds.append(model.predict(data_sample.iloc[idx:idx + window]))
    preds = np.array(preds)
    return prediction_rule(preds)

In [ ]:
def normalize_sample_train(data_sample):
    vital_signs = ['HR', 'O2Sat', 'Temp', 'SBP', 'MAP', 'DBP', 'Resp', 'EtCO2']
    d_copy = data_sample.copy()
    d_copy[vital_signs] /= np.mean(d_copy[vital_signs])
    return d_copy

def normalize_train(data):
    return data.groupby('id').apply(normalize_sample_train)

def normalize_test(data_sample):
    d_copy = data_sample.copy()