In [1]:
%cd Course-094295_hw1

/home/student/Course-094295_hw1

In [2]:
import pandas as pd

In [3]:
pat_data = pd.read_csv('data/test_raw.csv', index_col=0)
y_true = pat_data.groupby('id')['SepsisLabel'].max().sort_index()
LSTM_y_pred = pd.read_csv('prediction.csv', index_col=0, names=['SepsisLabel']).sort_index()['SepsisLabel']
LR_y_pred = pd.read_csv('LR_prediction.csv', index_col=0, names=['SepsisLabel']).sort_index()['SepsisLabel']

In [4]:
pat_data

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,...,Age,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel,id,Unit3,Gender_0.0,Gender_1.0
0,78.000000,98.000000,36.890000,94.000000,68.000000,65.500000,16.000000,26.000000,0.000000,0.000000,...,24.11,0.0,0.0,-0.02,1,0.0,0.0,1.0,1,0
1,78.000000,98.000000,36.890000,94.000000,68.000000,65.500000,16.000000,26.000000,0.000000,0.000000,...,24.11,0.0,0.0,-0.02,2,0.0,0.0,1.0,1,0
2,72.750000,97.250000,36.890000,97.000000,67.250000,65.500000,15.250000,26.000000,0.000000,0.000000,...,24.11,0.0,0.0,-0.02,3,0.0,0.0,1.0,1,0
3,72.923077,97.076923,36.890000,98.384615,67.769231,65.500000,15.076923,26.000000,0.000000,0.000000,...,24.11,0.0,0.0,-0.02,4,0.0,0.0,1.0,1,0
4,75.000000,97.700000,36.890000,98.800000,67.769231,65.500000,15.700000,26.000000,0.000000,0.200000,...,24.11,0.0,0.0,-0.02,5,0.0,0.0,1.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391808,66.402449,95.430666,36.387250,137.019219,89.514619,62.309279,20.955404,41.935041,0.375000,0.175000,...,87.20,0.0,0.0,-102.37,40,0.0,9999.0,1.0,0,1
391809,64.134150,95.810222,36.387250,141.006406,93.838206,66.103093,17.651801,41.935041,0.365854,0.170732,...,87.20,0.0,0.0,-102.37,41,0.0,9999.0,1.0,0,1
391810,63.378050,95.936741,36.387250,139.668802,95.279402,68.034364,19.217267,41.935041,0.357143,0.190476,...,87.20,0.0,0.0,-102.37,42,0.0,9999.0,1.0,0,1
391811,63.126017,97.978914,36.222065,143.222934,95.093134,66.011455,21.072422,41.935041,0.348837,0.209302,...,87.20,0.0,0.0,-102.37,43,0.0,9999.0,1.0,0,1
391812,63.042006,96.659638,36.222065,147.740978,97.697711,68.003818,19.690807,41.935041,0.340909,0.204545,...,87.20,0.0,0.0,-102.37,44,0.0,9999.0,1.0,0,1

In [5]:
LSTM_y_pred

0       0
1       0
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: SepsisLabel, Length: 10000, dtype: int64

In [6]:
from sklearn.metrics import classification_report

print(classification_report(y_true, LSTM_y_pred))

              precision    recall  f1-score   support

         0.0       0.97      0.99      0.98      9259
         1.0       0.83      0.60      0.69       741

    accuracy                           0.96     10000
   macro avg       0.90      0.79      0.84     10000
weighted avg       0.96      0.96      0.96     10000

In [ ]:
print(classification_report(y_true, LR_y_pred))